<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/room.js"></script>
</head>
<body>
    <center>
        <h1>Room: <span id="RoomName"></span></h1>
    </center>
    <h2>Room Code: <span id="RoomCode"></span></h2>
    <div>
        <h3>Member List</h3>
        <ul>

        </ul>
    </div>
</body>
</html>