<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/room.js"></script>
</head>
<body>
    <center>
        <h1>Room: {{ title }}</h1>
    </center>
    <h2>Room Code: {{ code}}</h2>
    <div>
        <h3>Member List</h3>
        <ul id="MemberList">
        </ul>
    </div>
    <div>
        <label>Message</label>
        <input id="Message-Input" onkeypress="handleKeyPress(event, 1)">
        <button>Send</button>
    </div>
    <div id="Messages">
        <div class="Message-Container">
            <div class="Message-Header">
                <p class="Message-User">Gamer Verse</p>
                <p class="Message-Time">02:30:15 PM</p>
            </div>
            <p class="Message-Message">This is my message that i sent</p>
        </div>
        <div class="Message-Container">
            <div class="Message-Header">
                <p class="Message-User">Gamer Verse</p>
                <p class="Message-Time">02:30:15 PM</p>
            </div>
            <p class="Message-Message">This is my message that i sent</p>
        </div>
    </div>
</body>
</html>